body {
  background-color: #14141f;
}

.App {
  display: grid;
  grid-template-areas: "feedback game controls";
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

.header-container {
  display: grid;
  grid-template-areas: "back title .";
  grid-template-columns: repeat(3, 1fr);
}


button {
  border: none;
  border-radius: 5px;
  color: #f0f0f5;
  margin-top: 20px;
  padding: 15px 50px 15px 50px;
  width: -webkit-fill-available;

}

button:hover {
  scale: 1.1;
}

.button-container {
  width: 180px;
}

.controls {
  grid-area: controls;
  color: #f0f0f5;
  background-color: #52527a;
  border: 2px solid #666699;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-radius: 5px;
  margin-right: 20px;
}

.dark-button {
  background-color: #14141f;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-button {
    background-color: #52527a;

}

.back-button {
  background-color: transparent;
  font-size: large;
  grid-area: back;
  padding: 0;
  margin: 20px 0 20px 0;
}


h1{
  text-align: center;
  grid-area: title;
  color: #f0f0f5;
}

p {
  margin-bottom: 1rem;
}


.how-to-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f0f5;
}

.board {
  border: 2px solid #666699;
  border-top: none;
  border-radius: 5px;
  user-select: none;
  width: fit-content;
  margin: auto;
  grid-area: game;
  z-index: 2;
  position: relative;
}

.row {
  display: flex;
  position: relative;
}

.cell{
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
}

.cell-empty {
  background-color: #8585ad;
}

.static-last-row {
  opacity: 0.33;
  border: 1px solid 666699;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.cell-clicked {
      animation: highligtClick 0.5s forwards;
    }
  
@keyframes highligtClick {
  0% {
    box-shadow: 0 0 5px #7a585e;  
  }
  
  100% {
    box-shadow: none;
  }
}

/* .fall-down {
  animation-name: fall-down;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: ${({isPaused})=>(isPaused ? 'paused' : 'running')};
} */


@keyframes fall-down {
  0% {
    transform: translateY(-40px)
  }
 
  100% {
    transform: translateY(10px);
   
  }
  
}

.hidden {
  display: none;
}

.miss {
  grid-area: feedback;
  animation-name: miss;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  justify-self: center;
  position: relative;
  transform-origin: top;
  color: #f0f0f5;
}

@keyframes miss {
  0% {
    display: none;
    text-shadow: none;
    transform: translateY(0) scale(0);
  }
  50%{
    text-shadow: 0 0 5px #7a585e;
    transform: translateY(50px) scale(2);    
  }
  100% {
    text-shadow: none;
    transform: translateY(100px) scale(0);
  }
}

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Grå bakgrund med transparens */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #52527a;
  color: #f0f0f5;
  padding: 30px 50px 30px 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
}

